<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "dependency" class = "com.example.demo.Dependency">
    </bean>

    <bean id = "main1" class = "com.example.demo.MainClass">
        <property name="name" value = "main1object"></property>
        <property name="dependency">
            <bean class = "com.example.demo.Dependency">
             <property name="id" value = "1"></property>
             <property name="num" value = "53"></property>
            </bean>
        </property>
    </bean>

    <bean id = "main2" class = "com.example.demo.MainClass">
        <property name="name" value = "main2object"></property>
        <property name="dependency">
            <bean class = "com.example.demo.Dependency">
             <property name="id" value = "2"></property>
             <property name="num" value = "34"></property>
            </bean>
        </property>
    </bean>

    <bean id = "main3" class = "com.example.demo.MainClass">
        <property name="name" value = "main3object"></property>
        <property name="dependency">
            <bean class = "com.example.demo.Dependency">
             <property name="id" value = "3"></property>
             <property name="num" value = "85"></property>
            </bean>
        </property>
    </bean>
<!-- Dependency injection using constructor injection-->
<bean id = "main1_1" class = "com.example.demo.MainClass1">
    
   <property name="">
    <bean class = "com.example.demo.Dependency" />
</property>

    </bean>

    </beans>       
  <!--  Here we create multiple objects of main class with different dependencies -->  